@font-face {
  font-family: vazir;
  src: url("fonts/Vazir-Bold.eot");
  src: url("../asset/fonts/Vazir-Bold.ttf") format("ttf"),
    url("../asset/fonts/Vazir-Bold.woff") format("woff"),
    url("../asset/fonts/Vazir-Bold.woff2") format("woff2");
}
@font-face {
  font-family: sahel;
  src: url("fonts/Sahel-Black.eot");
  src: url("../asset/fonts/Sahel-Black.ttf") format("ttf"),
    url("../asset/fonts/Sahel-Black.woff") format("woff"),
    url("../asset/fonts/Sahel-Black.woff2") format("woff2");
}
@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam-Medium.eot");
  src: url("../asset/fonts/Shabnam-Medium.ttf") format("ttf"),
    url("../asset/fonts/Shabnam-Medium.woff") format("woff"),
    url("../asset/fonts/Shabnam-Medium.woff2") format("woff2");
}
.header-icon img {
  width: 80px;
}
.header-dropdown {
  transition: all 0.5s;
}
.convert {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.525),
      rgba(255, 253, 253, 0.587)
    ),
    url(images/login-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background-image: url(images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  color: orange;
}
strong img {
  width: 100px;
}

.blog-header-logo {
  color: rgb(250, 168, 5);
  font-family: sahel;
  font-weight: bolder;
}
.font-header {
  font-family: sahel;
  color: rgb(0, 0, 0);
}
.font-text {
  font-family: vazir;
  font-weight: 700;
}
.font-header-title {
  font-family: shabnam;
  color: rgb(255, 255, 255);
  direction: rtl;
}
.font-header-text {
  font-family: shabnam;
  color: rgb(0, 0, 0);
  direction: rtl;
}
.convert {
  border: solid 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.716) 0px 5px 15px;
}
.convert:hover {
  box-shadow: rgb(0, 0, 0) 0px 14px 28px, rgb(238, 99, 0) 0px 10px 10px;
}
.about {
  margin-top: 10%;
  border-radius: 20px;
  color: white;
  background-color: rgb(39, 41, 41);
}
.about h1 {
  color: orange;
}
.text-small {
  font-size: 0.9rem;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}
.form-control {
  background: #212529;
  border-color: #545454;
}
.form-control:focus {
  background: #212529;
}
footer {
  background: #212529;
  background-image: url(images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
